# =========================
# Ambiente / Secrets
# =========================

.env
.env.*
!.env.example

# =========================
# IntelliJ IDEA
# =========================

.idea/
*.iml

# =========================
# Maven
# =========================

target/

# =========================
# Java
# =========================

*.class

# =========================
# Sistema operacional
# =========================

.DS_Store
Thumbs.db